.myDiv {
    margin-right: 150px;
    margin-left: 150px;
}

h1 {
    color: rgb(88, 86, 86);
}

h2 {
    color: rgb(88, 86, 86);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
}

h3 {
    color: rgb(88, 86, 86);
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

p {
    font-size: 15px;
    font-weight: normal;
    font-family: sans-serif;
    color: rgb(88, 86, 86)
}

.ul1 {
    font-size: 15px;
    font-weight: normal;
    font-family: sans-serif;
    color: rgb(88, 86, 86)
}

.socialbutton {
    color: white;
    border: none;  
    cursor: pointer;
}

.mode {
    color: black;
    border: none;  
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

button:active {
    background-color: rgb(255, 245, 245);
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
}
   
   
.column1 {
    grid-area: one;
}

.column2 {
    grid-area: two;
}

.row {
    display: grid;
    grid-template-areas: 'one two';
    padding: 40px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}